@media screen and (min-width: 320px) {
    .col-xs-1 {
        width: 8.3333%;
    }
    .col-xs-2 {
        width: 16.6666%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 8.3333%;
    }
    .col-xs-5 {
        width: 8.3333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-71 {
        width: 58.3333%;
    }
    .col-xs-8 {
        width: 66.6666%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.3333%;
    }
    .col-xs-11 {
        width: 91.6666%;
    }
    .col-xs-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .col-sm-1 {
        width: 8.3333%;
    }
    .col-sm-2 {
        width: 16.6666%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 8.3333%;
    }
    .col-sm-5 {
        width: 8.3333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-71 {
        width: 58.3333%;
    }
    .col-sm-8 {
        width: 66.6666%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.3333%;
    }
    .col-sm-11 {
        width: 91.6666%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 768px;
    }
}

@media screen and (max-width: 1124px) {
    .col-lg-1 {
        width: 8.3333%;
    }
    .col-lg-2 {
        width: 16.6666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 8.3333%;
    }
    .col-lg-5 {
        width: 8.3333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-71 {
        width: 58.3333%;
    }
    .col-lg-8 {
        width: 66.6666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.3333%;
    }
    .col-lg-11 {
        width: 91.6666%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.container1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.container2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.logo {
    display: inline-block;
    background-color: #fff;
    margin-right: 45px;
}

.logo__img {
    height: 11px;
    width: 107px;
}

.buttons_block {
    display: inline-block;
    box-sizing: border-box;
}

.button {
    width: 72px;
    height: 40px;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0px;
}

.button-signin {
    color: #1d1d1d;
    background-color: #fff;
    border: #e0e0e0 1px solid;
}

.button-register {
    color: #fff;
    background-color: #262626;
    border: none;
    margin-left: 12px;
}

.button-basket {
    display: none;
}

.rest-card_show {
    display: none;
}

@media (min-width: 768px) {
    .button-basket {
        display: inline-block;
        width: 20px;
        height: 23px;
        background: url("../../img/basket.png") no-repeat;
        border: none;
    }
    .rest-card_show {
        display: block;
    }
}

.search-panel {
    width: 308px;
    height: 48px;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 32px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
}

.search__img-logo {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.search__input {
    display: inline-block;
    width: 182px;
    height: 24px;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #626262;
}

.search__input-text {
    width: 184px;
    border: none;
}

.geotag-panel {
    margin-top: 24px;
    font-size: 11px;
    line-height: 13px;
}

.geotag-form__label {
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    color: #626262;
    margin-left: 6px;
    margin-right: 5px;
}

.geotag-form__time,
.geotag-form__location {
    display: block;
    font-size: 13px;
    line-height: 24px;
    color: #1d1d1d;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 4px 12px;
    margin-top: 8px;
    appearance: none;
    -moz-appearance: none;
}

.asap {
    line-height: 50px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.geotag-form__location {
    width: 149px;
    background: url("../../img/location.png") no-repeat 11px;
    padding: 7px 42px 7px 34px;
    outline: none;
}

.geotag-form {
    display: inline-block;
    width: 308px;
    height: 61px;
    margin-left: 8px;
    margin-right: 4px;
}

.geotag__label {
    font-size: 11px;
    line-height: 13px;
    color: #626262;
}

h1 {
    font-size: 22px;
    line-height: 34px;
    margin-top: 40px;
}

h2 {
    font-size: 16;
    line-height: 24px;
    margin-bottom: 4px;
    margin-left: 8px;
}

h3 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
    margin-left: 8px;
    color: #626262;
}

h4 {
    font-size: 13px;
    line-height: 21px;
    margin-left: 8px;
}

.rest-card {
    margin-left: 7px;
    margin-right: 2px;
}

.footer {
    background-color: #262626;
    color: #fff;
    height: 862px;
    ;
    margin-top: 48px;
}

.footer__logo {
    border-bottom: 1px solid #ffffff;
    margin-left: 8px;
    margin-right: 8px;
}

.footer__form {
    margin-top: 32px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer__select {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    border: 1px solid #3b3b3b;
    border-radius: 2px;
    padding: 12px 71px 12px 48px;
    appearance: none;
    -moz-appearance: none;
    background: url("./../../img/world.svg") 16px no-repeat, url("./../../img/arrow.svg") no-repeat 151px #3b3b3b;
}

.footer__hashtag {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 32px;
}

.footer__hashtag-label {
    font-size: 16px;
    line-height: 19px;
}

.footer__icon-block {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
}

.footer__links {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 39px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ffffff;
}

.footer__link {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
}

.footer__apps {
    padding-bottom: 24px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 24px;
    border-bottom: 1px solid #ffffff;
}

.footer__img {
    display: inline;
    margin-left: 16px;
    margin-right: 8px;
}

.footer__copyright {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 40px;
    position: relative;
}

.footer__copyright-img {
    position: absolute;
    top: 65px;
    right: 8px;
}